/* CSS global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%; /* Updated to 100% for better responsiveness */
    height: 100vh;
}

.hamburger {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger img {
    width: 30px;
    height: 30px;
}

.sidebar {
    width: 20%;
    background: linear-gradient(to bottom, #56FA97, #FFF787);
    position: fixed; /* Fix the sidebar */
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.sidebar.show {
    transform: translateX(0); /* Show sidebar */
}

.nav-menu ul {
    list-style-type: none;
    padding: 10px;
}

.nav-menu li {
    margin-bottom: 20px;
    text-align: center;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.search-bar {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.my-message {
    background-color: #0ee73d;
    color: #000;
    text-align: left;
    margin-left: auto;
    float: right;
    clear: both;
    border-radius: 15px;
    padding: 10px;
    max-width: 75%;
    word-wrap: break-word;
}

.other-message {
    background-color: #411be9;
    color: #fff;
    text-align: left;
    margin-right: auto;
    float: left;
    clear: both;
    border-radius: 15px;
    padding: 10px;
    max-width: 75%;
    word-wrap: break-word;
}

.message-data {
    margin-bottom: 5px;
}

.search-bar input {
    width: 90%;
    padding: 5px;
}

.conversation-list {
    list-style-type: none;
    padding: 10px;
    overflow-y: auto;
}

.conversation {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.conversation .profile-pic {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.conversation-info {
    display: flex;
    flex-direction: column;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; /* Ensure chat-container takes full width */
    overflow: hidden;
    margin-left:20%;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: #d3f8d3;
    width: 80%;
    border-bottom: 1px solid #ccc;
    position: fixed; /* Fix the header */
    top: 0;
    z-index: 1;
    margin-left:20%;
}

.header .profile-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow user-info to stretch */
}

.username {
    font-weight: bold;
}

.status.online {
    color: green;
}

.status.offline {
    color: red;
}

.chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f8ffe0;
}

.chat-history {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.sent {
    background-color: #e0ffe0;
    align-self: flex-start;
}

.received {
    background-color: #d3f8d3;
    align-self: flex-end;
}

.typing-status {
    font-style: italic;
    color: #666;
    position: absolute;
    bottom: 60px;
    display: none;
}

.message-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.message-input input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
}

.send-btn {
    background-color: #4caf50;
    border: none;
    padding: 10px;
    border-radius: 50%;
}

.send-btn img {
    width: 20px;
    height: 20px;
}

/* Default layout */
@media (min-width: 768px) {
    .hamburger {
        display: none; /* Hidden on larger screens */
    }

    .sidebar {
        transform: translateX(0); /* Always show sidebar */
        width: 20%;
    }

    .chat-container {
        width: 80%;
        margin-top:4%
    }

    .chat-section {
        width: 100%;
    }
}

/* Mobile layout */
@media (max-width: 767px) {
    .hamburger {
        display: block; /* Show hamburger button */
        margin-right: 10px;
        z-index:1
    }

    .sidebar {
        width: 100%;
        position: absolute;
        height: 100vh;
        z-index:1;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .header {
        left: 0;
        margin-left:0;
        width:100%
    }

    .chat-section {
        height: calc(100vh - 60px); /* Adjust height for fixed header */
    }

    .chat-container {
        margin-left: unset;
        height:93%;
        bottom:0;
        position:fixed;
    }
}