/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-shrink: 0;
    height: 50px; /* Adjusted height */
    background: linear-gradient(to right, #FFFBC1, #30E076);
}

.logo {
    width: 200px;
    height: auto;
}

.back-to-dashboard {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin-right:5%
}

.content {
    flex: 1;
    padding: 20px;
    background: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.submit-btn {
    padding: 10px 20px;
    background: #ffb900;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    align-self: flex-end;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .navbar {
        height: 80px; /* Adjusted height for mobile */
    }
}
