body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a8e063, #56ab2f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: left;
    border: 1px solid #ccc;
    overflow-y: auto;
    height: 90vh;
}

.logo {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 35%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.terms-content {
    font-size: 14px;
    color: #333;
}

.terms-content h2 {
    font-size: 18px;
    margin-top: 20px;
}

.terms-content p {
    margin-bottom: 10px;
}

.terms-content ul {
    list-style: disc;
    margin-left: 20px;
}

.terms-content li {
    margin-bottom: 5px;
}
