body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #FFF454, #30E076);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    border: 1px solid #ccc;
}

.logo {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 150px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #777;
    border-radius: 25px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    background-color: #FFFBC1;
    border: 1px solid #bbb;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 30%;
    font-size: 16px;
}

.forgot-password,
.create-account {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

span {
    margin-top: 10px;
    display: block;
    font-size: 14px;
}
