
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'image/logo.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Give&Share</title>
    <link rel="stylesheet" href="{% static 'css\about_us.css' %}">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>   
 <meta name="description" content="{% block description %}Learn more about Give&Share, our mission, and the dedicated team behind the platform. Discover how we promote sustainability and community connection through resource sharing.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Give&Share, about us, mission, sustainability, community connection, resource sharing, team, environmental stewardship, circular economy, community bonds{% endblock %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'image\bg-icone.png' %}" alt="Give&Share Logo">

        </div>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}"><img style="width:30px;height:30px" src="{% static 'image/home.svg' %}"></a></li>
                <li><a href="{% url 'contact_us' %}"><img src="{% static 'image/customer-care.svg' %}" width="30px" height="30px"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>"Giving New Life to Old Items"</h1>
        </section>
        <section class="about-us">
            <h2>About Us</h2>
            <div class="columns">
                <div class="left-column">
                    <p>Give&Share is dedicated to creating a sustainable, connected, and compassionate community where resources are shared, waste is minimized, and communities thrive. Our platform serves as a bridge between those who have items they no longer need and those who can make use of them, fostering a spirit of generosity and environmental stewardship.</p>
                    <img src="{% static 'image\carrots.png' %}" alt="About Us Image 1" class="about-image">
                    <p>Through Give&Share, we aim to take the pressing issues of overconsumption and waste by encouraging the reuse of items that would otherwise end up in landfills. By facilitating the exchange of goods within local communities, we help reduce the environmental footprint, promote a circular economy, and contribute to the overall well-being of our planet.</p>
                    <img src="{% static 'image\Rubik.png' %}" alt="About Us Image 2" class="about-image">
                    <p>Users can easily list items they wish to give away, browse available items, and connect with others to arrange exchanges. This process not only helps those in need but also strengthens community bonds and nurtures a culture of kindness and mutual support.</p>
                </div>
                <div class="right-column">
                    <img src="{% static 'image\boxes.png' %}" alt="About Us Image 3" class="about-image">
                    <p>We believe that small actions can lead to significant changes. By promoting the sharing of resources, Give&Share encourages sustainable living practices and helps individuals save money. Additionally, our platform supports the idea that everyone has something valuable to offer, reinforcing the importance of community and interconnectedness.</p>
                    <img src="{% static 'image\Headphone.png' %}" alt="About Us Image 4" class="about-image">
                    <p>At Give&Share, we are committed to making it easy and rewarding for people to give back to their communities and the environment. Our mission is to inspire and facilitate acts of generosity, ensuring that no usable item goes to waste and that everyone has access to the resources they need. Together, we can build a more sustainable and compassionate world, one shared item at a time.</p>
                    <img src="{% static 'image\Jacket.png' %}" alt="About Us Image 5" class="about-image">
                </div>
            </div>
        </section>
        <section class="team">
            <h2>To possibly create this community, here are the people who have been working hard to bring this website to you:</h2>
            <ul>
                <li>Darkhan - Full Stack Dev</li>
                <li>Almansur - Backend Dev</li>
            </ul>
        </section>
    </main>
    {% csrf_token %}
</body>
</html>
{% endblock %}
