{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'image/logo.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions - Give&Share</title>
    <link rel="stylesheet" href="{% static 'css\deal.css' %}">
   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>
 <meta name="description" content="{% block description %}Review the terms and conditions of using Give&Share. Understand the rules, user conduct, and privacy policies to ensure a safe and respectful community experience.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Give&Share, terms and conditions, user conduct, privacy policy, community rules, safe usage, respectful community, user agreement, geolocation data, intellectual property{% endblock %}">
<style>
    @media (orientation: landscape) and (max-device-width: 1223px) {
    .container {
        position:relative;
        margin-bottom:300px;
    }
    }
</style>
<style>
    @media (orientation: landscape) and (max-device-width: 1223px) {
    .container {
        position:relative;
        top:150px
    }
    }
</style>
</head>
<body>
    <div class="container" aria-label="Terms and Conditions container">
        <a href="{% url 'home' %}"><img src="{% static 'image\bg-icone.png' %}" alt="Give&Share logo" class="logo" aria-label="Give&Share logo"></a>
        <h1>Terms and Conditions</h1>
        <div class="terms-content">
            <p>Welcome to Give&Share! These terms and conditions outline the rules and regulations for the use of Give&Share's website and services.<br><br>

                By accessing this website, we assume you accept these terms and conditions. Do not continue to use Give&Share if you do not agree to all  of the terms and conditions stated on this page.<br><br>
                
                 <b>1. Definitions</b></p><ul>
                <li><b>Service:</b> The Give&Share website and any related services provided by Give&Share.</li>
                <li><b>User:</b> Any individual who uses the Service.</li>
                <li><b>Content:</b> All information, data, text, software, music, sound, photographs, graphics, video, messages, or other materials.</li>
                <li><b>Account:</b> A unique account created for you to access our Service or parts of our Service.</li></ul>
                <p><b>2. Accounts</b></p><ul><li>
                When you create an account with us, you must provide information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</li>
                <li>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</li>
                <li>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</li>
                <li>You must not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar, or obscene.</li></ul>
                <p><b>3. User Conduct</b></p><ul>
                <li>You agree not to use the Service for any unlawful purpose or in any way that might harm, damage, or disparage any other party.</li>
                <li>You agree not to upload, post, email, transmit, or otherwise make available any Content that:</li>
                <li>Is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable.</li>
                <li>You do not have a right to make available under any law or under contractual or fiduciary relationships.</li>
                <li>Infringes any patent, trademark, trade secret, copyright, or other proprietary rights of any party.</li>
                <li>Contains software viruses or any other computer code, files, or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment.</li></ul>
                <p><b>4. Privacy and Geolocation Data</b></p><ul>
                <li>Your privacy is important to us. Please review our Privacy Policy, which explains how we collect, use, and disclose information that pertains to your privacy. The Privacy Policy is incorporated into these Terms by reference.</li>
                <li>Geolocation Data: We use geolocation data to enhance your experience on Give&Share. By using our Service, you consent to the collection and use of your geolocation information as described below:</li>
                <li>Purpose: We use your geolocation data to show you posts that are nearest to you, making it easier for you to find relevant content.</li>
                <li>Automatic Tagging: When you upload a post, your location will be added to the post automatically to inform other users of the post's location.</li>
                <li>Opt-Out: If you do not wish to share your geolocation data, you can disable location services on your device. However, this may limit the functionality of the Service.</li></ul>
                <p><b>5. Intellectual Property</b></p><ul>
                <li>The Service and its original content, features, and functionality are and will remain the exclusive property of Give&Share and its licensors. The Service is protected by copyright, trademark, and other laws of both Kazakhstan and foreign countries.</li>
                <li>Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Give&Share.</li></ul>
                <p><b>6. Termination and Blocking</b></p><ul>
                <li>We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</li>
                <li>If you violate any rules or terms, we reserve the right to block your account. This includes, but is not limited to, violations of the user conduct terms, chat terms, and posting terms.</li>
                <li>If you wish to terminate your account, you may simply discontinue using the Service. All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</li></ul>
                <p><b>7. Limitation of Liability</b></p><ul>
                <li>In no event shall Give&Share, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your use or inability to use the Service; (ii) any unauthorized access to or use of our servers and/or any personal information stored therein; (iii) any interruption or cessation of transmission to or from the Service; (iv) any bugs, viruses, trojan horses, or the like that may be transmitted to or through our Service by any third party; (v) any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Service; and/or (vi) any other matter relating to the Service.</li>
                <li>Disclaimer for Physical Interactions: Give&Share is not responsible for any physical interactions or transactions that occur between users. If you meet someone through our Service and an incident occurs, such as robbery or personal harm, Give&Share is not liable and will not pay any compensation. Users are encouraged to exercise caution and use common sense when interacting with others, especially when meeting in person.</li></ul>
                <p><b>8. Disclaimer</b></p><ul>
                <li>Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement, or course of performance.</li>
                <li>Give&Share, its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure, or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</li></ul>
                <p><b>9. Governing Law</b></p><ul>
                <li>These Terms shall be governed and construed in accordance with the laws of Kazakhstan, without regard to its conflict of law provisions.</li>
                <li>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service and supersede and replace any prior agreements we might have had between us regarding the Service.</li></ul>
                <p><b>10. Changes</b></p><ul>
                <li>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</li>
                <li>By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.</li></ul>
                <p><b>11. Chat Page Terms</b></p><ul>
                <li>The chat feature provided by Give&Share allows users to communicate with each other. By using the chat feature, you agree to the following additional terms:</li>
                <li>Respectful Communication: You must communicate respectfully and must not engage in any form of harassment, abuse, or discrimination.</li>
                <li>Prohibited Content: Do not share content that is offensive, inappropriate, or illegal. This includes, but is not limited to, hate speech, threats, explicit material, and any form of harassment.</li>
                <li>Privacy and Confidentiality: Respect the privacy and confidentiality of others. Do not share personal information or private content without consent.</li>
                <li>No Spamming: Do not use the chat feature to send spam or unsolicited messages.
                <li>Reporting Violations: Report any violations of these terms to Give&Share immediately. We reserve the right to monitor and review chats to ensure compliance with these terms.</li>
                <li>Consequences of Violations: Violation of these chat terms may result in suspension or termination of your account and access to the chat feature.</li></ul>
                <p><b>12. Posting Terms</b></p><ul>
                <li>By posting content on Give&Share, you agree to the following additional terms:</li>
                <li>Accurate Information: All information provided in your posts must be accurate and truthful.</li>
                <li>Prohibited Content: You must not post content that is offensive, inappropriate, or illegal. This includes, but is not limited to, hate speech, threats, explicit material, and any form of harassment.</li>
                <li>Ownership: You must own the rights to any content you post or have received permission from the rightful owner to post the content.</li>
                <li>No Spamming: Do not post repetitive, unsolicited messages or advertisements.</li>
                <li>Moderation: Give&Share reserves the right to moderate, edit, or remove any content that violates these terms or is deemed inappropriate at our discretion.</li></ul>
        </div>
    </div>
    {% csrf_token %}
</body>
</html>
{% endblock %}
