
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="google-site-verification" content="GwAuqc6aiERnBFqEH2cYS55S8SdAtROsVhICx35hBbg" />   
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give&Share</title>
    <link rel="shortcut icon" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css\home.css' %}">
    <meta name="description" content="{% block description %}Discover Give&Share, a community-driven platform for sharing and finding resources. Post or search for items, connect with others, and enjoy a seamless user experience with our advanced search and geolocation features.{% endblock %}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>
    <meta name="keywords" content="{% block keywords %}Give&Share, community platform, share resources, find resources, donate items, study materials, geolocation, advanced search, free items, community-driven{% endblock %}">
<style>
    #main-title {
    font-size: 6vw;
    text-align: center;
}

    @media (min-width: 1024px) {
    #main-title {
        font-size: 4vw;
    }
}
    @media (max-width: 480px) {
    #main-title {
        font-size: 8vw;
    }
}
    @media (orientation: landscape) and (max-device-width: 1223px) {
    .main_images img, .main p, #main-title {
        display:none;
    }
    header {
    border-bottom:none;
    }
    .cta-buttons {
    margin-bottom:5%;
    }
    .form_wrapper {
    bottom:-10%;
    }
    }
    @media (max-width:480px) {
    .rolller {
    display:none;
    }
    }
</style>
</head>
<body>
    <header>
        <img src="{% static 'image\icone.png' %}" alt="Give&Share Logo" aria-label="Give&Share Logo">
    </header>
    <main>
        <div class="main">
            <h1 id="main-title" style="position:relative">Need free items?</h1>
            <p style="position:relative;">Give&Share is a perfect place for sharing and getting free items</p>
            <div class="cta-buttons" style="position:relative;">
                <form action="{% url 'login' %}"><button aria-label="Login">Login</button></form>
                <span>or</span>
                <form action="{% url 'signup' %}"><button aria-label="Create an account">Sign up</button></form>
            </div>
        </div>
        <div class="form_wrapper">
        <section aria-labelledby="description-title" class="description">
            <ul>
                <li style="display: flex;justify-content: center;"><img src="{% static 'image\check.svg' %}">Upload your portfolio</li>
                <li style="display: flex;justify-content: center;"><img src="{% static 'image\check.svg' %}">Get your free items</li>
                <li style="display: flex;justify-content: center;"><img src="{% static 'image\check.svg' %}">Donate your items</li>
            </ul>
        </section>
        </div>
        <div class="main_images">
            <img src="{% static 'image\basket.png' %}" class="basket">
            <img src="{% static 'image\book.png' %}" class="book">
            <img src="{% static 'image\box1.png' %}" class="box1">
            <img src="{% static 'image\box2.png' %}" class="box2">
            <img src="{% static 'image\box3.png' %}" class="box3">
            <img src="{% static 'image\headphones.png' %}" class="headphones">
            <img src="{% static 'image\leftbox.png' %}" class="leftbox">
            <img src="{% static 'image\randomcube.png' %}" class="randomcube">
            <img src="{% static 'image\rightbox.png' %}" class="rightbox">
            <img src="{% static 'image\rolller.png' %}" class="rolller">
            <img src="{% static 'image\shoes.png' %}" class="shoes">
            <img src="{% static 'image\socer.png' %}" class="socer">
        </div>
    </main>
</body>
</html>

{% endblock %}
