{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="{% static 'image/logo.png' %}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset - Give&Share</title>
    <link rel="stylesheet" href="{% static 'css\passreset.css' %}">
    <meta name="description" content="{% block description %}A password reset link has been sent to your email. Follow the instructions to reset your Give&Share password and regain access to your account.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Give&Share, password reset sent, email instructions, reset link, regain access, secure password reset, user authentication, account recovery, email notification, forgot password{% endblock %}">
<style>
@media (max-width: 768px) {
    input, textarea {
        font-size: 16px;
    }
}
</style>
</head>
<body>
    <div class="container" id="reset-sent-container" aria-label="Password reset sent container">
        <a href="{% url 'home' %}"><img src="{% static 'image\icone.png' %}" alt="Give&Share logo" class="logo" aria-label="Give&Share logo"></a>
        <h1>Password Reset Sent</h1>
        <p>An email has been sent with instructions to reset your password. Please check your email.</p>
    </div>
</body>
</html>
{% endblock %}
