{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="{% static 'image/logo.png' %}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password - Give&Share</title>
    <link rel="stylesheet" href="{% static 'css\passreset2.css' %}">
    <meta name="description" content="{% block description %}Confirm your new Give&Share password to complete the reset process. Ensure your account's security by setting a strong and unique password.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Give&Share, password reset confirmation, confirm password, new password, account security, reset process, secure account, user authentication, strong password, password recovery{% endblock %}">
<style>
@media (max-width: 768px) {
    input, textarea {
        font-size: 16px;
    }
}
</style>
</head>
<body>
    <div class="container" id="reset-password-container" aria-label="Password reset form container">
        <img src="{% static 'image\icone.png' %}" alt="Give&Share logo" class="logo" aria-label="Give&Share logo">
        <h1>Reset Your Password</h1>
        <form id="reset-password-form" aria-labelledby="Password reset form" method="post">
            {% csrf_token %}
            <input type="password" id="new-password" name="new_password1" placeholder="New password:" required aria-required="true">

            <input type="password" id="confirm-password" name="new_password2" placeholder="Confirm New Password:" required aria-required="true">

            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
{% endblock %}
