{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="{% static 'image/logo.png' %}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset - Give&Share</title>
    <link rel="stylesheet" href="{% static 'css\passreset.css' %}">
    <meta name="description" content="{% block description %}Reset your Give&Share password easily. Follow the instructions sent to your email to regain access to your account and continue sharing and finding resources.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Give&Share, password reset, reset password, account recovery, regain access, email instructions, secure password reset, user authentication, forgot password, account security{% endblock %}">
<style>
@media (max-width: 768px) {
    input, textarea {
        font-size: 16px;
    }
}

</style>
</head>
<body>
    <div class="container" id="reset-form-container" aria-label="Password reset form container">
        <a href="{% url 'home' %}"><img src="{% static 'image\icone.png' %}" alt="Give&Share logo" class="logo" aria-label="Give&Share logo"></a>
        <h1>Password Reset</h1>
        <form id="reset-form" aria-labelledby="Password reset form" method="post">
            {% csrf_token %}
            <input type="email" id="email" name="email" placeholder="Enter your email:" required aria-required="true">
            <button type="submit">Reset Password</button>
        </form>
        <span>or</span>
        <a href="{% url 'signup' %}" class="create-account">Create a new account</a>
    </div>
</body>
</html>
{% endblock %}
