{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="{% static 'image/logo.png' %}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password - Give&Share</title>
    <link rel="stylesheet" href="{% static 'css\passreset2.css' %}">
    <meta name="description" content="{% block description %}Your Give&Share password has been successfully reset. You can now log in to your account and continue sharing and finding resources within the community.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Give&Share, password reset complete, successful reset, log in, account access, resource sharing, user authentication, community platform, secure access, password recovery{% endblock %}">
<style>

@media (max-width: 768px) {
    input, textarea {
        font-size: 16px;
    }
}
</style>
</head>
<body>
    <div class="container" id="reset-complete-container" aria-label="Password reset complete container">
        <img src="{% static 'image\icone.png' %}" alt="Give&Share logo" class="logo" aria-label="Give&Share logo">
        <h1>Password Reset Complete</h1>
        <p>Your password has been set. You can now <a href="{% url 'login' %}">log in</a>.</p>
    </div>
</body>
</html>
{% endblock %}
